<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Traffic Maintenance System</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="script.js"></script>
  </head>
  <body>
    <div class="headingcontainer">
    <img src="https://static.vecteezy.com/system/resources/previews/006/209/200/original/illustration-of-a-traffic-light-using-a-cartoon-symbol-free-vector.jpg" style="height: 25%; width: 10%;">
    <h1 style="vertical-align: middle;">Traffic Maintenance System</h1>
  </div>