<%- include('shared/header.ejs') -%> <%- include('shared/nav.ejs') -%>

<h1>Your Ticket Has Been Raised Successfully</h1>

<footer
  style="
    padding: 20px;
    background-color: rgb(49, 49, 49);
    text-align: center;
    color: white;
    margin: 2% 2% 2% 2%;
  "
>
  &copy Binita Khua
</footer>